In [4]:
from scipy.stats import uniform,norm,rv_discrete
import pandas as pd

In [3]:
sp_per_unit =249
admin_cost = 400000
advt_cost = 600000

In [5]:
mean = 15000
std = 4500

In [12]:
#part cost
a = 80
b = 100

In [10]:
trails = 500

In [9]:
sample = rv_discrete(values=([43,44,45,46,47],[0.1,0.2,0.4,0.2,0.1]))
sample

In [11]:
df = pd.DataFrame({"labor cost": sample.rvs(size=trails)})

In [14]:
df["Part cost"] =  uniform.rvs(a,(b-a),size=trails).round(2)
df["Part cost"]

0      84.28
1      80.06
2      85.06
3      81.49
4      89.59
       ...
495    87.90
496    89.18
497    92.31
498    82.94
499    86.88
Name: Part cost, Length: 500, dtype: float64

In [17]:
df["Demand"] = norm.rvs(loc=mean,scale=std,size=trails).round(2)
df["Demand"]

0      15471.35
1      14143.81
2      12690.41
3       8939.67
4      25483.06
         ...
495    23739.28
496    15048.53
497    15977.17
498    15764.36
499    19774.16
Name: Demand, Length: 500, dtype: float64

In [18]:
df["Profit"] = (sp_per_unit-df["labor cost"]-df["Part cost"])*df["Demand"]-admin_cost-advt_cost
df

     labor cost  Part cost    Demand        Profit
0            46      84.28  15471.35  8.367587e+05
1            45      80.06  14143.81  7.529838e+05
2            43      85.06  12690.41  5.347782e+05
3            45      81.49   8939.67  9.519897e+04
4            45      89.59  25483.06  1.915517e+06
..          ...        ...       ...           ...
495          45      87.90  23739.28  1.756130e+06
496          45      89.18  15048.53  7.278722e+05
497          44      92.31  15977.17  8.004673e+05
498          45      82.94  15764.36  9.084334e+05
499          46      86.88  19774.16  1.296175e+06

[500 rows x 4 columns]

In [20]:
print("Mean profit : ",df["Profit"].mean())
print("Std : ",df["Profit"].std())
print("Min profit : ",df["Profit"].min())
print("Max profit : ",df["Profit"].max())
print("No of losses : ",df[df["Profit"]<0]["Profit"].count())
print("Probablity of loss : ",df[df["Profit"]<0]["Profit"].count()/trails)

Mean profit :  746182.1002462
Std :  510400.4862025217
Min profit :  -928759.285
Max profit :  2245446.3526
No of losses :  39
Probablity of loss :  0.078