In [3]:
import pandas as pd
import numpy as np
#Data analysis

## Loading data

## Pandas

In [5]:
#partD_drug = pd.read_csv("../data/Drug_no_30_day.csv")
# partD_drug = pd.read_csv("/home/kiran/medicare/data/Raw_drug_data.csv")

cluster=MongoClient('mongodb+srv://m001-student:m001-mongodb-basics@sandbox.uughf.mongodb.net/?retryWrites=true&w=majority')

db=cluster['Medicare']

collection = db['drug_data']

partD_drug= pd.DataFrame(list(collection.find()))

print("Raw data loaded for generating medicine columns")

In [6]:
partD_drug.drop(["Unnamed: 0","_id"],axis = 1,inplace = True)

In [7]:
# partD_drug.isnull().sum()

Prscrbr_NPI                  0
Prscrbr_Last_Org_Name        0
Prscrbr_First_Name           0
Prscrbr_City                 0
Prscrbr_State_Abrvtn         0
Prscrbr_State_FIPS           0
Prscrbr_Type                 0
Prscrbr_Type_Src             0
Brnd_Name                    0
Gnrc_Name                    0
Tot_Clms                     0
Tot_30day_Fills              0
Tot_Day_Suply                0
Tot_Drug_Cst                 0
Tot_Benes                23071
GE65_Sprsn_Flag          24525
GE65_Tot_Clms            15313
GE65_Tot_30day_Fills     15313
GE65_Tot_Drug_Cst        15313
GE65_Tot_Day_Suply       15313
GE65_Bene_Sprsn_Flag      4758
GE65_Tot_Benes           35080
FRAUD                        0
dtype: int64

In [8]:
# partD_drug.head(1)

,Prscrbr_NPI,Prscrbr_Last_Org_Name,Prscrbr_First_Name,Prscrbr_City,Prscrbr_State_Abrvtn,Prscrbr_State_FIPS,Prscrbr_Type,Prscrbr_Type_Src,Brnd_Name,Gnrc_Name,...,Tot_Drug_Cst,Tot_Benes,GE65_Sprsn_Flag,GE65_Tot_Clms,GE65_Tot_30day_Fills,GE65_Tot_Drug_Cst,GE65_Tot_Day_Suply,GE65_Bene_Sprsn_Flag,GE65_Tot_Benes,FRAUD
0,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24.0,Internal Medicine,S,Amiodarone Hcl,Amiodarone Hcl,...,135.38,NaN,NaN,13.0,13.8,135.38,399.0,*,NaN,0

In [9]:
partD_drug = partD_drug.loc[:,["Prscrbr_NPI","Gnrc_Name","Tot_Clms","Tot_Day_Suply","Tot_Drug_Cst"]]
print("Prscrbr_NPI,Gnrc_Name,Tot_Clms,Tot_Day_Suply,Tot_Drug_Cst columns selected")

In [10]:
partD_drug.rename(columns={'Prscrbr_NPI':'NPI'},inplace = True)

In [11]:
# partD_drug.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39838 entries, 0 to 39837
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NPI            39838 non-null  int64
 1   Gnrc_Name      39838 non-null  object
 2   Tot_Clms       39838 non-null  int64
 3   Tot_Day_Suply  39838 non-null  int64
 4   Tot_Drug_Cst   39838 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.5+ MB

In [12]:
partD_drug.columns = ["NPI","Drug_Name","Tot_Clms","Tot_Day_Suply","Tot_Drug_Cst"]
print("Raw medicine data columns renamed")

In [13]:
# partD_drug.head()

          NPI            Drug_Name  Tot_Clms  Tot_Day_Suply  Tot_Drug_Cst
0  1003000126       Amiodarone Hcl        13            399        135.38
1  1003000126  Amlodipine Besylate        13            570         42.47
2  1003000126           Bumetanide        16            540        494.38
3  1003000126             Apixaban        11            323       4792.85
4  1003000126      Hydralazine Hcl        16            523        162.09

In [14]:
partD_drug.columns

Index(['NPI', 'Drug_Name', 'Tot_Clms', 'Tot_Day_Suply', 'Tot_Drug_Cst'], dtype='object')

## Grouping data

In [15]:
# df = pd.crosstab(partD_drug.NPI,[partD_drug.Drug_Name,partD_drug.Tot_Clms,partD_drug.Tot_Day_Suply,partD_drug.Tot_Drug_Cst])
# df = pd.crosstab(partD_drug.NPI,partD_drug.Drug_Name)
df = partD_drug.groupby(["NPI","Drug_Name"]).agg({'Tot_Clms' : 'sum', 'Tot_Day_Suply' :  'sum'
                                                  ,"Tot_Drug_Cst" : 'sum'})

print("Raw data for medecine grouped on NPI and drug name")

In [16]:
# df.index[0][1] + "_" + df.columns[0]

'Amiodarone Hcl_Tot_Clms'

In [17]:
# df.isnull().sum()

Tot_Clms         0
Tot_Day_Suply    0
Tot_Drug_Cst     0
dtype: int64

In [18]:
# len(df.index)

34489

In [19]:
# df.index[34488]

(1972640050, 'Ibuprofen')

In [20]:
df.head(10)

#index =  NPI and Drug_Name 
# columns are Tot_clms and so on
#df.Tot_Clms.iloc[1]

                                  Tot_Clms  Tot_Day_Suply  Tot_Drug_Cst
NPI        Drug_Name
1003000126 Amiodarone Hcl               13            399        135.38
           Amlodipine Besylate          13            570         42.47
           Apixaban                     11            323       4792.85
           Bumetanide                   16            540        494.38
           Hydralazine Hcl              16            523        162.09
           Metoprolol Tartrate          30            937        163.44
           Prednisone                   14            134         90.56
           Trazodone Hcl                11            295         97.90
1003000423 Alendronate Sodium           14           1126        203.61
           Clobetasol Propionate        12            191        366.69

In [21]:
drug_n = []
with open('../data/drug_name_columns.txt', 'r') as file:
    [drug_n.append(line.strip()) for line in file.readlines()]
len(drug_n)

print("Number of medicine columns from ML model train data loaded")

103

In [22]:
temp = pd.DataFrame(columns = drug_n)
print("Empty dataframe created with all medicine columns")

In [27]:
npi_index = 0
drug_index = 0
row_ind = 0
flag = "start"
while True:
    #we will go through each index and with index[0] i.e NPI changes we will exit inner loop
    npi =  df.index[npi_index][0]
    ck = df.index[drug_index][0]
    
    #setting all row values to 0 , to avoid null 
    temp.loc[row_ind,:] = 0
    temp.loc[row_ind,"NPI"] = npi
    
    while npi == ck:
        #setting npi number to NPI column
        # temp.loc[drug_index,"NPI"] = ck
        
        #add values to dataframe if columns are present in list
        for c in range(3):
            col_name = df.index[drug_index][1] + "_" + df.columns[c]
            if col_name in drug_n:
                temp.loc[row_ind,col_name] = df.iloc[drug_index,c]
                temp.loc[row_ind,:]
        if drug_index < 34487:
            drug_index += 1 
            ck = df.index[drug_index][0]
        else:
            flag = "done"
            break
    if flag == "start":        
        npi_index  = drug_index  
        row_ind +=1 
    else:
        break

print("Transformation data")

In [38]:
len(temp.index)

885

In [35]:
print("Checking null values")
print(temp.isnull().sum())

Checking null values
NPI                                   0
Methocarbamol_Tot_Drug_Cst            0
Atorvastatin Calcium_Tot_Drug_Cst     0
Atorvastatin Calcium_Tot_Clms         0
Atorvastatin Calcium_Tot_Day_Suply    0
                                     ..
Pen Needle, Diabetic_Tot_Drug_Cst     0
Pen Needle, Diabetic_Tot_Day_Suply    0
Tramadol Hcl_Tot_Drug_Cst             0
Tramadol Hcl_Tot_Clms                 0
Tramadol Hcl_Tot_Day_Suply            0
Length: 103, dtype: int64

In [34]:
temp.to_csv("../data/medicines_data.csv")
print("Dataframe with medicines columns save succesfull")