In [1]:
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np

#import functions
from pyspark.sql import functions

from pyspark.sql.types import StructField, StringType, IntegerType, StructType, DoubleType, LongType,FloatType

import pickle

from pyspark.sql.functions import col,isnan, when, count

In [2]:
spark = SparkSession.builder.appName("Datamerge").getOrCreate()

## Loading data

### provider_drug data

data_schema = [StructField("NPI", IntegerType(),True),
               StructField("First_name_drug", StringType(),True),
               StructField("Last_name", StringType(),True),
               StructField("City", StringType(),True),
               StructField("State", StringType(),True),
               StructField("Speciality", StringType(),True),
               StructField("max_Tot_Drug_Cst", FloatType(),True),
               StructField("sum_Tot_Drug_Cst", FloatType(),True),
               StructField("avg_Tot_Drug_Cst", FloatType(),True),
               StructField("max_Total_claims", IntegerType(),True),
               StructField("sum_Total_claims", LongType(),True),
               StructField("avg_Total_claims", DoubleType(),True),
               StructField("max_Tot_Day_Suply", IntegerType(),True),
               StructField("sum_Tot_Day_Suply", LongType(),True),
               StructField("avg_Tot_Day_Suply", FloatType(),True),
               StructField("max_Tot_30day_Fills", FloatType(),True),
               StructField("sum_Tot_30day_Fills", FloatType(),True),
               StructField("avg_Tot_30day_Fills", FloatType(),True),
               StructField("Name", StringType(),True)
              
              
              ]

In [3]:
data_schema = [StructField("NPI", IntegerType(),True),
               StructField("First_name_drug", StringType(),True),
               StructField("City", StringType(),True),
               StructField("State", StringType(),True),
               StructField("Speciality", StringType(),True),
               StructField("max_Tot_Drug_Cst", FloatType(),True),
               StructField("sum_Tot_Drug_Cst", FloatType(),True),
               StructField("avg_Tot_Drug_Cst", FloatType(),True),
               StructField("max_Total_claims", IntegerType(),True),
               StructField("sum_Total_claims", LongType(),True),
               StructField("avg_Total_claims", DoubleType(),True),
               StructField("max_Tot_Day_Suply", IntegerType(),True),
               StructField("sum_Tot_Day_Suply", LongType(),True),
               StructField("avg_Tot_Day_Suply", FloatType(),True),
               StructField("max_Tot_30day_Fills", FloatType(),True),
               StructField("sum_Tot_30day_Fills", FloatType(),True),
               StructField("avg_Tot_30day_Fills", FloatType(),True)
              ]

In [4]:
final_schema = StructType(fields=data_schema)

In [5]:
df_drug = spark.read.csv("../data/spark_csv/drug_data_final.csv",schema=final_schema)

In [6]:
df_drug.printSchema()

root
 |-- NPI: integer (nullable = true)
 |-- First_name_drug: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Speciality: string (nullable = true)
 |-- max_Tot_Drug_Cst: float (nullable = true)
 |-- sum_Tot_Drug_Cst: float (nullable = true)
 |-- avg_Tot_Drug_Cst: float (nullable = true)
 |-- max_Total_claims: integer (nullable = true)
 |-- sum_Total_claims: long (nullable = true)
 |-- avg_Total_claims: double (nullable = true)
 |-- max_Tot_Day_Suply: integer (nullable = true)
 |-- sum_Tot_Day_Suply: long (nullable = true)
 |-- avg_Tot_Day_Suply: float (nullable = true)
 |-- max_Tot_30day_Fills: float (nullable = true)
 |-- sum_Tot_30day_Fills: float (nullable = true)
 |-- avg_Tot_30day_Fills: float (nullable = true)

df_drug.show()

### Payment data

In [7]:
# pay_schema = [StructField("NPI", IntegerType(),True),
#                StructField("First_name", StringType(),True),
#                StructField("Last_name", StringType(),True),
#                StructField("Total_payments", FloatType(),True),
#               ]

In [8]:
# final_pay_schema = StructType(fields=pay_schema)

In [9]:
# df_pay = spark.read.csv("../data/spark_csv/payment_npi_name.csv",schema=final_pay_schema)

In [ ]:
# pay_schema1 = [StructField("NPI", IntegerType(),True),
#                StructField("Total_payments", FloatType(),True)
#               ]

In [ ]:
# final_pay_schema1 = StructType(fields=pay_schema1)

In [ ]:
df_pay = spark.read.csv("../data/spark_csv/payment_npi.csv",schema=final_pay_schema1)

In [ ]:
df_pay.printSchema()

In [ ]:
df_pay.show()

### Joining data drug and payment

### With spark

In [12]:
#pay_data_cols = df_pay.select("NPI","Total_payments")

In [11]:
pay_data_cols = df_pay.withColumnRenamed("NPI","NPI_1")

In [12]:
df_drug_pay = df_drug.join(pay_data_cols,df_drug.NPI == pay_data_cols.NPI_1,"left")

In [13]:
df_drug_pay.printSchema()

root
 |-- NPI: integer (nullable = true)
 |-- First_name_drug: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Speciality: string (nullable = true)
 |-- max_Tot_Drug_Cst: float (nullable = true)
 |-- sum_Tot_Drug_Cst: float (nullable = true)
 |-- avg_Tot_Drug_Cst: float (nullable = true)
 |-- max_Total_claims: integer (nullable = true)
 |-- sum_Total_claims: long (nullable = true)
 |-- avg_Total_claims: double (nullable = true)
 |-- max_Tot_Day_Suply: integer (nullable = true)
 |-- sum_Tot_Day_Suply: long (nullable = true)
 |-- avg_Tot_Day_Suply: float (nullable = true)
 |-- max_Tot_30day_Fills: float (nullable = true)
 |-- sum_Tot_30day_Fills: float (nullable = true)
 |-- avg_Tot_30day_Fills: float (nullable = true)
 |-- NPI_1: integer (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Total_payments: float (nullable = true)

In [20]:
df_drug_pay.show()

+----------+---------------+--------------+-----+--------------------+----------------+----------------+----------------+----------------+----------------+------------------+-----------------+-----------------+-----------------+-------------------+-------------------+-------------------+----------+----------+------------+--------------+
|       NPI|First_name_drug|          City|State|          Speciality|max_Tot_Drug_Cst|sum_Tot_Drug_Cst|avg_Tot_Drug_Cst|max_Total_claims|sum_Total_claims|  avg_Total_claims|max_Tot_Day_Suply|sum_Tot_Day_Suply|avg_Tot_Day_Suply|max_Tot_30day_Fills|sum_Tot_30day_Fills|avg_Tot_30day_Fills|     NPI_1|First_name|   Last_name|Total_payments|
+----------+---------------+--------------+-----+--------------------+----------------+----------------+----------------+----------------+----------------+------------------+-----------------+-----------------+-----------------+-------------------+-------------------+-------------------+----------+----------+------------+--------------+
|1003000126|        ardalan|      Bethesda|   MD|   Internal Medicine|         4792.85|         5979.07|        747.3837|              30|             124|              15.5|              937|             3721|          465.125|               32.4|              138.2|             17.275|1003000126|   ardalan|   enkeshafi|         20.48|
|1003000423|       jennifer|     Cleveland|   OH|Obstetrics & Gyne...|         8276.44|        15389.69|       2564.9482|              39|             122|20.333333333333332|             2412|             5217|            869.5|               82.0|              213.7|          35.616665|1003000423|  jennifer|     velotta|        171.29|
|1003000720|         otniel|      Clemmons|   NC|  Nurse Practitioner|          657.01|         3052.84|       254.40334|              51|             230|19.166666666666668|              337|             2166|            180.5|               51.0|              230.0|          19.166666|      null|      null|        null|          null|
|1003001785|         jaclyn|         Tulsa|   OK|  Orthopedic Surgery|         2141.24|         7812.28|         781.228|             126|             546|              54.6|             2610|             8250|            825.0|              126.0|              569.0|               56.9|1003001785|    jaclyn|       jones|        969.07|
|1003001884|        lucille|         Flint|   MI|     Family Practice|         1324.26|         2449.09|          349.87|              31|             118|16.857142857142858|             1560|             4979|         711.2857|               53.0|              199.0|          28.428572|      null|      null|        null|          null|
|1003002049|        lakshmi|       Fremont|   CA|       Endocrinology|         74927.7|       443067.28|       13845.853|             130|             984|             30.75|             9969|            75850|        2370.3125|              333.9|             2534.6|           79.20625|1003002049|   lakshmi|  srinivasan|         20.61|
|1003002312|       patricia|        Quincy|   MA|        Rheumatology|        331200.5|        752350.5|       11063.979|             310|            2693| 39.60294117647059|            11852|           121124|        1781.2354|              396.0|             4126.1|           60.67794|1003002312|  patricia|     hopkins|       5422.67|
|1003002379|         salona|      Portland|   OR|   Internal Medicine|         7866.33|         10079.2|          1259.9|              41|             152|              19.0|             1448|             4328|            541.0|               56.0|              181.3|            22.6625|      null|      null|        null|          null|
|1003002817|         nayvis|         Doral|   FL|     Family Practice|       163725.45|       1063755.8|       5089.7407|             871|           18489| 88.46411483253588|            76881|           982587|         4701.373|             2563.5|            34647.8|          165.77895|      null|      null|        null|          null|
|1003002890|         daniel|      Brighton|   CO|  Orthopedic Surgery|          723.36|         1011.62|         252.905|              27|              82|              20.5|              765|             2155|           538.75|               30.3|               96.8|               24.2|1003002890|    daniel|      hamman|        227.34|
|1003003070|          anita|Port Jefferson|   NY|           Neurology|        47399.32|        85505.16|       3717.6157|             106|             644|              28.0|             5617|            29318|        1274.6957|              189.5|              986.3|           42.88261|1003003070|       ann|        jill|        295.72|
|1003003070|          anita|Port Jefferson|   NY|           Neurology|        47399.32|        85505.16|       3717.6157|             106|             644|              28.0|             5617|            29318|        1274.6957|              189.5|              986.3|           42.88261|1003003070|     anita|        gill|          25.0|
|1003003609|            uma|        Dallas|   TX|          Nephrology|       110660.83|        271611.0|       11317.125|             161|             969|            40.375|            11527|            67489|        2812.0417|              384.8|             2257.7|           94.07083|1003003609|       uma|pakkivenkata|         14.29|
|1003004201|        natalie|Corpus Christi|   TX|   Internal Medicine|         41803.9|       368319.53|       3175.1682|             229|            4774|  41.1551724137931|            17413|           275276|        2373.0688|              580.4|             9459.3|           81.54569|1003004201|   natalie|   philbrick|        407.21|
|1003004573|         joanne|       Seattle|   WA|  Nurse Practitioner|        15792.93|        43059.54|       1076.4885|             104|            1086|             27.15|             3004|            27812|            695.3|              105.2|             1098.7|            27.4675|      null|      null|        null|          null|
|1003004771|           erin|     Littleton|   CO|   Pulmonary Disease|       177671.38|       319556.22|       18797.424|              64|             363|21.352941176470587|             2910|            14549|        855.82355|               97.0|              506.6|               29.8|1003004771|      erin|      riggle|       1267.61|
|1003005109|       nicholas|        Oxnard|   CA|      Otolaryngology|         5439.35|        19942.83|       1246.4269|             134|             708|             44.25|             6660|            25074|         1567.125|              222.0|              983.1|           61.44375|1003005109|  nicholas|     fettman|        238.86|
|1003006172|         nestor|     Charlotte|   NC|  Infectious Disease|       119861.78|       465338.78|        22158.99|              67|             517| 24.61904761904762|             1998|            10435|        496.90475|               69.0|              534.4|          25.447618|1003006172|    nestor|     quezada|         16.24|
|1003006529|           joon|      Brooklyn|   NY|             Dentist|          153.55|          330.82|       110.27333|              58|             104|34.666666666666664|              389|              847|        282.33334|               58.0|              104.0|          34.666668|      null|      null|        null|          null|
|1003006610|          cindi|        Ireton|   IA|  Nurse Practitioner|        17013.52|        75660.84|        957.7322|             156|            2546| 32.22784810126582|             7417|            94573|        1197.1266|              248.0|             3319.3|          42.016457|      null|      null|        null|          null|
+----------+---------------+--------------+-----+--------------------+----------------+----------------+----------------+----------------+----------------+------------------+-----------------+-----------------+-----------------+-------------------+-------------------+-------------------+----------+----------+------------+--------------+
only showing top 20 rows

In [16]:
#drug data and payment data total rows

df_drug_pay.count()

959546

In [17]:
#Payment data rows

pay_data_cols.count()

487110

In [18]:
#954546

df_drug.count()

959546

In [44]:
#Dropping duplicate column

df_drug_pay = df_drug_pay.drop("NPI_1")

In [45]:
df_drug_pay = df_drug_pay.drop("Name")

In [ ]:
#df_drug_pay = df_drug_pay.drop("First_name")

In [14]:
#Checking missing values in total dataframe

df_drug_pay.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_drug_pay.columns]
   ).show()

+---+---------------+----+-----+----------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+-----------------+-------------------+-------------------+-------------------+------+----------+---------+--------------+
|NPI|First_name_drug|City|State|Speciality|max_Tot_Drug_Cst|sum_Tot_Drug_Cst|avg_Tot_Drug_Cst|max_Total_claims|sum_Total_claims|avg_Total_claims|max_Tot_Day_Suply|sum_Tot_Day_Suply|avg_Tot_Day_Suply|max_Tot_30day_Fills|sum_Tot_30day_Fills|avg_Tot_30day_Fills| NPI_1|First_name|Last_name|Total_payments|
+---+---------------+----+-----+----------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+-----------------+-------------------+-------------------+-------------------+------+----------+---------+--------------+
|  0|             40|   0|    0|         1|               0|               0|               0|               0|               0|               0|                0|                0|                0|                  0|                  0|                  0|624631|    624640|   624632|        624633|
+---+---------------+----+-----+----------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+-----------------+-----------------+-------------------+-------------------+-------------------+------+----------+---------+--------------+

### Converting main data to pandas

In [15]:
df_drug_panda = df_drug_pay.toPandas()

In [16]:
df_drug_panda.isnull().sum()

NPI                         0
First_name_drug            13
City                        0
State                       0
Speciality                  1
max_Tot_Drug_Cst            0
sum_Tot_Drug_Cst            0
avg_Tot_Drug_Cst            0
max_Total_claims            0
sum_Total_claims            0
avg_Total_claims            0
max_Tot_Day_Suply           0
sum_Tot_Day_Suply           0
avg_Tot_Day_Suply           0
max_Tot_30day_Fills         0
sum_Tot_30day_Fills         0
avg_Tot_30day_Fills         0
NPI_1                  624631
First_name             624631
Last_name              624631
Total_payments         624633
dtype: int64

In [17]:
df_drug_panda["City"] =  df_drug_panda["City"].str.lower()

In [18]:
df_drug_panda["State"] =  df_drug_panda["State"].str.lower()

In [19]:
df_drug_panda.head()

,NPI,First_name_drug,City,State,Speciality,max_Tot_Drug_Cst,sum_Tot_Drug_Cst,avg_Tot_Drug_Cst,max_Total_claims,sum_Total_claims,...,max_Tot_Day_Suply,sum_Tot_Day_Suply,avg_Tot_Day_Suply,max_Tot_30day_Fills,sum_Tot_30day_Fills,avg_Tot_30day_Fills,NPI_1,First_name,Last_name,Total_payments
0,1003000126,ardalan,bethesda,md,Internal Medicine,4792.850098,5979.069824,747.383728,30,124,...,937,3721,465.125000,32.400002,138.199997,17.275000,1.003000e+09,ardalan,enkeshafi,20.480000
1,1003000423,jennifer,cleveland,oh,Obstetrics & Gynecology,8276.440430,15389.690430,2564.948242,39,122,...,2412,5217,869.500000,82.000000,213.699997,35.616665,1.003000e+09,jennifer,velotta,171.289993
2,1003000720,otniel,clemmons,nc,Nurse Practitioner,657.010010,3052.840088,254.403336,51,230,...,337,2166,180.500000,51.000000,230.000000,19.166666,NaN,None,None,NaN
3,1003001785,jaclyn,tulsa,ok,Orthopedic Surgery,2141.239990,7812.279785,781.228027,126,546,...,2610,8250,825.000000,126.000000,569.000000,56.900002,1.003002e+09,jaclyn,jones,969.070007
4,1003001884,lucille,flint,mi,Family Practice,1324.260010,2449.090088,349.869995,31,118,...,1560,4979,711.285706,53.000000,199.000000,28.428572,NaN,None,None,NaN

In [21]:
df_drug_panda.drop(["First_name_drug","NPI_1"],axis=1,inplace=True)

In [22]:
df_drug_panda.head(1)

,NPI,City,State,Speciality,max_Tot_Drug_Cst,sum_Tot_Drug_Cst,avg_Tot_Drug_Cst,max_Total_claims,sum_Total_claims,avg_Total_claims,max_Tot_Day_Suply,sum_Tot_Day_Suply,avg_Tot_Day_Suply,max_Tot_30day_Fills,sum_Tot_30day_Fills,avg_Tot_30day_Fills,First_name,Last_name,Total_payments
0,1003000126,bethesda,md,Internal Medicine,4792.850098,5979.069824,747.383728,30,124,15.5,937,3721,465.125,32.400002,138.199997,17.275,ardalan,enkeshafi,20.48

df_drug_panda[["Total_payments","Total_pay"]] = df_drug_panda[["Total_payments","Total_pay"]].fillna(0)

df_drug_panda[["Total_payments","Total_pay"]] = df_drug_panda[["Total_payments","Total_pay"]].astype("int")

def logic(data):
    content= []
    for i in data.values:
        if (i[-1] == 0) & (i[-2] == 0):
            content.append(np.nan)
        elif i[-1] <  i[-2]:
            content.append(i[-2])
        else:
            content.append(i[-1])
    return content

df_drug_panda["payments"] = logic(df_drug_panda)

df_drug_panda.isnull().sum()

In [ ]:
#df_drug_panda.drop(["Total_payments","Total_pay"],axis=1,inplace=True)

### Saving dataframe

In [24]:
# drug pay data with first ,last and payment

df_drug_panda.to_csv("../data/spark_csv/drug_pay_final.csv")