In [2]:
import pymongo
from pymongo import MongoClient

In [3]:
cluster=MongoClient('mongodb+srv://m001-student:m001-mongodb-basics@sandbox.uughf.mongodb.net/?retryWrites=true&w=majority')

In [4]:
# cluster.list_database_names()

['Medicare',
 'Visualization_Data',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'weather_data',
 'admin',
 'local']

In [16]:
db=cluster['Medicare']

In [7]:
# db.list_collection_names()

['drug_data', 'payment_data']

In [8]:
collection = db['drug_data']

In [ ]:
# collection_name = db['collection_name']

In [9]:
collection.count_documents({})

39838

In [11]:
collection_name = pd.DataFrame(list(collection.find()))

In [13]:
collection_name.head()

,_id,Unnamed: 0,Prscrbr_NPI,Prscrbr_Last_Org_Name,Prscrbr_First_Name,Prscrbr_City,Prscrbr_State_Abrvtn,Prscrbr_State_FIPS,Prscrbr_Type,Prscrbr_Type_Src,...,Tot_Day_Suply,Tot_Drug_Cst,Tot_Benes,GE65_Sprsn_Flag,GE65_Tot_Clms,GE65_Tot_30day_Fills,GE65_Tot_Drug_Cst,GE65_Tot_Day_Suply,GE65_Bene_Sprsn_Flag,GE65_Tot_Benes
0,632d6d5749aaa376a4d7ecc1,0,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,399.0,135.380005,0.0,0,13.0,13.8,135.38,399.0,*,0.0
1,632d6d5749aaa376a4d7ecc2,1,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,570.0,42.470001,0.0,*,0.0,0.0,0.0,0.0,*,0.0
2,632d6d5749aaa376a4d7ecc3,2,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,540.0,494.380005,0.0,0,16.0,18.0,494.38,540.0,*,0.0
3,632d6d5749aaa376a4d7ecc4,3,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,323.0,4792.850098,0.0,*,0.0,0.0,0.0,0.0,*,0.0
4,632d6d5749aaa376a4d7ecc5,4,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,523.0,162.089996,0.0,#,0.0,0.0,0.0,0.0,*,0.0

In [ ]:
# db.collection_name.drop()

In [15]:
collection_name.head()

,_id,Unnamed: 0,Prscrbr_NPI,Prscrbr_Last_Org_Name,Prscrbr_First_Name,Prscrbr_City,Prscrbr_State_Abrvtn,Prscrbr_State_FIPS,Prscrbr_Type,Prscrbr_Type_Src,...,Tot_Day_Suply,Tot_Drug_Cst,Tot_Benes,GE65_Sprsn_Flag,GE65_Tot_Clms,GE65_Tot_30day_Fills,GE65_Tot_Drug_Cst,GE65_Tot_Day_Suply,GE65_Bene_Sprsn_Flag,GE65_Tot_Benes
0,632d6d5749aaa376a4d7ecc1,0,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,399.0,135.380005,0.0,0,13.0,13.8,135.38,399.0,*,0.0
1,632d6d5749aaa376a4d7ecc2,1,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,570.0,42.470001,0.0,*,0.0,0.0,0.0,0.0,*,0.0
2,632d6d5749aaa376a4d7ecc3,2,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,540.0,494.380005,0.0,0,16.0,18.0,494.38,540.0,*,0.0
3,632d6d5749aaa376a4d7ecc4,3,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,323.0,4792.850098,0.0,*,0.0,0.0,0.0,0.0,*,0.0
4,632d6d5749aaa376a4d7ecc5,4,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,S,...,523.0,162.089996,0.0,#,0.0,0.0,0.0,0.0,*,0.0

In [17]:
cluster.close()

TypeError: 'Collection' object is not callable. If you meant to call the 'close' method on a 'Database' object it is failing because no such method exists.